<html>
  <head>
      <title>Jessica's blog</title>
  </head>
  <body>
      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>

      <div>
        <p>published: 23.03.2019, 12:29</p>
        <h2><a href="">My first post</a></h2>
        <p>I drove out to VA for the first time</p>
      </div>
      <div>
          <p>published: 23.03.2019, 12:30</p>
          <h2><a href="">My second post</a></h2>
          <p>Here is another sentence. I am here is Virginia however, I live in DC.</p>
        </div>
        
  </body>
  </html>
